{% extends "base.html" %}

{% block content %}

<h1>Pelin <i>{{attribuutit.nimi}}</i> editointisivu</h1>

{% if virheet %}
<div class="alert alert-danger">
    <ul>
        {% for error in virheet %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}




<table class="table table-striped table-bordered">
    <form method="post" action="{{base_path}}/game/{{attribuutit.id}}/edit">
        <input name="id" type="hidden" value="{{attribuutit.id}}">
        <tr>
            <td width="150"><strong>Nimi</strong></td>
            <td colspan="2"><input name="nimi" class="form-control" type="text" value="{{attribuutit.nimi}}"></td>
        </tr>
        <tr>
            <td><strong>Omistaja</strong></td>
            <td colspan="2">
                <select name="omistaja" class="form-control" size="1">
                    {% for omistaja in omistajat %}
                    <option value="{{omistaja.id}}">{{omistaja.nimi}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><strong>Julkaisuvuosi</strong></td>
            <td colspan="2"><input name="julkaisuvuosi" class="form-control" type="text" value="{{attribuutit.julkaisuvuosi}}"></td>
        </tr>
        <tr>
            <td><strong>Julkaisija</strong></td>
            <td colspan="2"><input name="julkaisija" class="form-control" type="text" value="{{attribuutit.julkaisija}}"></td>
        </tr>
        <tr>
            <td><strong>Pelaajien määrä</strong></td>
            <td><input name="pelaajat_min" class="form-control" type="text" value="{{attribuutit.pelaajat_min}}" placeholder="Minimimäärä"></td> 
            <td><input name="pelaajat_max" class="form-control" type="text" value="{{attribuutit.pelaajat_max}}" placeholder="Maksimimäärä"></td>
        </tr>
        <tr>
            <td><strong>Kuvaus</strong></td>
            <td colspan="2"><input name="kuvaus" class="form-control" value="{{attribuutit.kuvaus}}"></td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </form>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="right">

                {% if user_logged_in %}
                <form method="post" action="{{base_path}}/game/{{attribuutit.id}}/delete" class="destroy-form" data-confirm="Haluatko varmasti poistaa pelin?">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
                {% endif %}
            </td>
        </tr>
</table>


{% endblock %}
