{% extends "base.html" %}

{% block content %}
  <h1>Pursiksen pelikirjasto</h1>

  <p>
    <a href="game/create" class="btn btn-success">Lisää peli</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisuvuosi</th>
        <th>Julkaisija</th>
        <th>Pelaajia Min</th>
        <th>Pelaajia Max</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for peli in pelit %}
        <tr>
          <td><a href="{{base_path}}/game/{{peli.id}}">{{peli.nimi}}</a></td>
          <td>{{peli.julkaisuvuosi}}</td>
          <td>{{peli.julkaisija}}</td>
          <td>{{peli.pelaajat_min}}</td>
          <td>{{peli.pelaajat_max}}</td>
          <td>{{peli.lisayspaiva}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{peli.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
