{% extends "base.html" %}

{% block content %}

{% if message != '' %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<h1>{{peli.nimi}}</h1>
<!-- Painikkeet tähän -->
{% block kirjautuneena_voi_poistaa %}
{% if user_logged_in %}
<table border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td>
            <form method="post" action="{{base_path}}/game/{{peli.id}}/delete">
                <button type="submit" class="btn btn-danger">Poista</button>
            </form>
        </td>
        <td>&nbsp;</td>
        <td>
            <form method="get" action="{{base_path}}/game/{{peli.id}}/edit">
                <button type="submit" class="btn btn-default">Muokkaa</button>
            </form>
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}
<br>

<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Julkaisuvuosi:</strong> {{peli.julkaisuvuosi}}</li>
    <li><strong>Julkaisija:</strong> {{peli.julkaisija}}</li>
    <li><strong>Lisäyspäivä:</strong> {{peli.lisayspaiva}}</li>
    <li><strong>Pelaajia:</strong> {{peli.pelaajat_min}}-{{peli.pelaajat_max}}</li>
    <li><strong>Tyyppi:</strong> {{peli.tyyppi}}</li>
    <li><strong>Keskiarvo:</strong> {{peli.id}} / 5</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p><strong>Pelin kuvaus:</strong></p>
<p>
    {{peli.kuvaus}}
</p>



{% endblock %}
