{% extends "base.html" %}

{% block content %}

{% if message != '' %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

<h1>{{peli.nimi}}</h1>

<!-- Tiedot tulee taulukossa tähän -->
<table class="table table-striped table-bordered">
    <tr>
        <td width="150"><strong>Julkaisuvuosi</strong></td>
        <td colspan="2">{{peli.julkaisuvuosi}}</td>
    </tr>
    <tr>
        <td><strong>Julkaisija</strong></td>
        <td colspan="2">{{peli.julkaisija}}</td>
    </tr>
    <tr>
        <td><strong>Pelaajia</strong></td>
        <td colspan="2">{{peli.pelaajat_min}}-{{peli.pelaajat_max}}</td>
    </tr>
    <tr>
        <td><strong>Lisäyspäivä</strong></td>
        <td colspan="2">{{peli.lisayspaiva}}</td>
    </tr>
    <tr>
        <td><strong>Genret</strong></td>
        <td colspan="1">
            {% for genre in genret %}
            {% if genre.genretxt == "Co-Operative" %}
            <label class="label label-success">{{genre.genretxt}}</label> 
            {% elseif genre.genretxt == "Competitive" %}
            <label class="label label-danger">{{genre.genretxt}}</label> 
            {% else %}
            <label class="label label-default">{{genre.genretxt}}</label> 
            {% endif %}
            {% endfor %}
        </td>
        <td>
            <form method="get" action="{{base_path}}/game/{{peli.id}}/genre">
                <button type="submit" class="btn btn-default">Muokkaa</button>
            </form>
        </td>
    </tr>
    <tr>
        <td><strong>Omistaja</strong></td>
        <td colspan="2">{{omistaja.nimi}}</td>
    </tr>
    <tr>
        <td><strong>Keskiarvo</strong></td>
        <td colspan="2">{{peli.id}} / 5</td>
    </tr>
    <tr>
        <td><strong>Kuvaus</strong></td>
        <td colspan="2">{{peli.kuvaus}}</td>
    </tr>
{% block kirjautuneena_voi_poistaa %}
{% if user_logged_in %}
    <tr>
        <td>&nbsp;</td>
        <td align="right">
            <form method="post" action="{{base_path}}/game/{{peli.id}}/delete">
                <button type="submit" class="btn btn-danger">Poista</button>
            </form>
        </td>
        <td width="100">
            <form method="get" action="{{base_path}}/game/{{peli.id}}/edit">
                <button type="submit" class="btn btn-default">Muokkaa</button>
            </form>
        </td>
    </tr>
{% endif %}
{% endblock %}
</table>


<br>

<h3>Pelin arviot</h3>

<table class="table table-striped table-bordered">
    {% for arvostelu in arvostelut %}
    <tr>
        <td width="150"><strong>Arvostelija</strong> </td>
        <td>{{arvostelu.arvostelija}}</td>
    </tr>
    <tr>
        <td><strong>Arvio</strong> </td>
        <td>{{arvostelu.arvio}}</td>
    </tr>
    <tr>
        <td><strong>Arvostelu</strong> </td>
        <td>{{arvostelu.arvostelu}}</td>
    </tr>
    <tr><td colspan="2"></td></tr>
    {% endfor%}

</table>


{% endblock %}
