{% extends "base.html" %}

{% block content %}
  <h1>Arkham Horror</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisuvuosi:</strong> 2005</li>
    <li><strong>Julkaisija:</strong> Fantasy Flight Games</li>
    <li><strong>Lisäyspäivä:</strong> 25.1.2015</li>
    <li><strong>Pelaajia:</strong> 1-8</li>
    <li><strong>Tyyppi:</strong> Co-operative</li>
    <li><strong>Genre:</strong> Adventure, Fighting, Horror</li>
    <li><strong>Keskiarvo:</strong> 4,5 / 5</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Arkham Horror on H.P.Lovecraftin Cthulhu-mytologiaan perustuva pelaajien väliseen yhteistyöhön keskittyvä lautapeli. Se sijoittuu 1920-luvun New Englandin osavaltioon, Arkhamin kaupunkiin, jossa Great Old Onet ja heidän palvelijansa heräävät. Pelaajat taistelevat kultisteja ja toisista ulottuvuuksista tulevia hirviöitä vastaan ja sulkevat ulottuvuuksien välisiä portteja.
  </p>
  <p>
    Peli vaatii pelaajiltaan koordinointia ja yhteispeliä - tämä peli voitetaan tai hävitään yhdessä.
  </p>
{% endblock %}

