{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Pursiksen pelikirjasto</h1>
  </div>

  <p>Näiltä sivuilta löytyy minun versioni Aineopintojen Harjoitustyö: Tietokantasovellus  -kurssin harjoitustyöstä. Työssä teen lautapeliarkistoa kokoavan ja ylläpitävän kirjaston sekä sille web-käyttöliittymän.</p>

  <p>Lisää infoa löytyy seuraavista paikoista:</p>
  <ul>
  	<li><a href="http://kalleilv.users.cs.helsinki.fi/tsoha-materiaali/johdanto">Kurssimateriaali</a></li>
  	<li><a href="http://github.com/anti-l/tks">Projektin Github-repositorio</a></li>
  	<li><a href="http://github.com/anti-l/tks/blob/master/doc/dokumentaatio.pdf?raw=true">Projektin dokumentaatio</a></li>
  </ul>

  <p>Samoin esimerkkisivuja projektista:</p>
  <ul>
  	<li><a href="http://luan.users.cs.helsinki.fi/tks/game">Päänäkymä</a></li>
  	<li><a href="http://luan.users.cs.helsinki.fi/tks/login">Kirjautuminen</a></li>
  	<li><a href="http://luan.users.cs.helsinki.fi/tks/game/1">Yksittäinen peli</a></li>
  	<li><a href="http://luan.users.cs.helsinki.fi/tks/tietokantayhteys">Tietokantayhteys</a></li>
  </ul>


  <!--a href="http://kalleilv.users.cs.helsinki.fi/tsoha-materiaali" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a-->

{% endblock %}
