{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Pursiksen pelikirjasto</h1>
  </div>

  <p>Näiltä sivuilta löytyy minun versioni Aineopintojen Harjoitustyö: Tietokantasovellus  -kurssin harjoitustyöstä. Työssä teen lautapeliarkistoa kokoavan ja ylläpitävän kirjaston sekä sille web-käyttöliittymän.</p>

  <p>Lisää infoa löytyy seuraavista paikoista:</p>
  <ul>
  	<li><a href="http://kalleilv.users.cs.helsinki.fi/tsoha-materiaali/johdanto">Kurssimateriaali</a></li>
  	<li><a href="http://github.com/anti-l/tks">Projektin Github-repositorio</a></li>
  	<li><a href="http://github.com/anti-l/tks/blob/master/doc/dokumentaatio.pdf?raw=true">Projektin dokumentaatio (PDF)</a></li>
  </ul>

  <br>
  
  <p>Sovelluksen toimintoihin löytyy oikotiet yläpalkista - Pelit, Käyttäjät, Arviot ja Login.</p>
  
  <P><strong>Pelit</strong> listaa järjestelmään lisätyt pelit lyhyesti taulukossa. Lisätietoa saat klikkaamalla pelin nimeä - tällöin näet pelin yksityiskohdat ja käyttäjien arviot pelille. Pelien lisääminen, poistaminen ja muokkaaminen vaatii sisäänkirjautumisen.</p>

  <P><strong>Käyttäjät</strong> listaa järjestelmän käyttäjät. Nämä näkyvät vain sisään kirjauduttua.</p>
  
  <P><strong>Arviot</strong> listaa käyttäjien peleille kirjoittamat arviot. Näitä voi katsoa kirjautumatta sisään, mutta muokkaus ja poisto vaativat sisäänkirjautumisen.</p>
  
  <P><strong>Login</strong> avaa sisäänkirjautumissivun, jossa oikealla käyttäjätunnuksella ja salasanalla pääsee sisään järjestelmään.</p>
  
{% endblock %}
